@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-wave: wave 2.1s ease-in-out infinite;
}

:root {
  --scrollbar-color: #ff6600; /* red */
}

@keyframes wave {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100%{
        transform: rotate(0.0deg)
    }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgb(5, 5, 5); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}


.logo {
    font-size: 24px;
}

.menu-toggle {
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.menu {
    position: absolute;
    top: 0px;
    /* Adjust as needed */
    right: 0px;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    width: 190px;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .menu {
        top: 60px;
    }
}